@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@100;200;300&family=Roboto:wght@300&display=swap");
:root {
  --space-none: 0px;
  --space-3xs: 2px;
  --space-2xs: 4px;
  --space-xs: 6px;
  --space-sm: 8px;
  --space-md: 12px;
  --space-lg: 16px;
  --space-xl: 20px;
  --space-2xl: 24px;
  --space-3xl: 28px;
  --space-4xl: 32px;
  --space-5xl: 36px;
  --space-6xl: 40px;
  --space-7xl: 44px;
  --space-8xl: 48px;
  --space-9xl: 56px;
  --space-10xl: 64px;
  --space-11xl: 72px;
  --space-12xl: 80px;
  --space-full: 100px;
  --space-sectionSmallMaxWidth: 1200px;
  --space-sectionLargeMaxWidth: 1400px;
  --space-sectionPadding: 112px;
  --space-sectionGap: 180px;
  --space-blockSize: 450px;
  /*---------------------*/
  /*------COLOR-----------*/
  /*-----------------------*/
  --background: #2c2c2c;
  --primary-color: #007bff;
  --highlight-color: #ff5722;
  --secondary-color: #6c757d;
  --text-color: #212529;
  --background: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: url("asset/cursor\ \(2\).png"), auto;
}
html,
body {
  max-width: 1920px;
  background-color: #191b1e;
}
main {
  display: flex;
  gap: 200px;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
}
a {
  margin: 20px;
}

.row {
  display: flex;
  gap: 200px;
  flex-direction: column;
}

/*---------------------*/
/*------HEADER-----------*/
/*------NAVBAR----------*/

.heading {
  display: flex;
  height: 100vh;
  flex-direction: row;
}
.heading-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-sectionGap);
  margin: 40px auto;
  max-width: 100%;
}
.navbar {
  display: inline-flex;
  align-items: flex-start;
  gap: 130px;
  font-size: 20px;
}

.navbar a {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 100;
  list-style: none;
  text-decoration: none;
}
.heading-content {
  display: flex;
  align-items: center;
  gap: var(--space-11xl);
}
img .photo {
  width: 626px;
  height: 534px;
}
.image-mobile {
  width: auto;
  height: 50px;
  display: none;
}
.logo-menu {
  display: flex;
  width: 100%;
  height: 100%;
}

/*-----------------------*/
/*---IMAGE-CONTAINER-----*/
/*-----------------------*/

.photo-container {
  position: relative;
  display: block;
  justify-content: flex-end;
}
.photo-container:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transform: translateY(0%) translateX(0%);
  position: absolute;
  border: 1px solid white;
  top: 0;
}
.photo-container::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transform: translateY(-15%) translateX(20%);
  position: absolute;
  border: 1px solid white;
  top: 0;
}
.image-header {
  display: flex;
  justify-content: center;
}
.image-container {
  display: flex;
  width: 1000px;
  gap: 130px;
  justify-content: flex-start;
}
.gretings {
  display: flex;
  width: 565px;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-content: center;
  align-items: flex-start;
  margin: 30px;
}
/*-----------------------*/
/*--------DES STYLES-----*/
/*-----------------------*/
.style1 {
  color: #fff;
  font-family: Inter;
  font-size: 30px;
  font-weight: 100;
  text-transform: uppercase;
}

.style2 {
  color: #fff;
  font-family: Inter;
  font-size: 25px;
  font-weight: 100;
}
.style3 {
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-weight: 900;
}
.style4 {
  color: #fff;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.style5 {
  color: #fff;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}
.style6 {
  color: #fff;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 100;
  line-height: 158%;
}
.style-footer {
  color: #fff;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 100;
  line-height: 158%;
}

/*-----------------------*/
/*---ABOUT-ME------------*/
/*-----------------------*/

.symbol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.text {
  display: flex;
  padding: 10px;
  margin: 20px;
}
/*-----------------------*/
/*---MENU---------------*/
/*-----------------------*/
.experience {
  height: 100vh 0 0 0;
}
.symbol-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 50px;
}
.style7 {
  font-family: Inter;
  font-size: 30px;
  font-weight: 100;
  background: #36383a;
}
.menu {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #36383a;
  margin: 30px 0 0 0;
}
.menu button.active {
  background-color: #36383a;
  color: white;
  transition: background-color 0.9s, color 0.3s;
}
.menu button {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  border: none;
  outline: none;
  transition: background-color 0.9s, color 0.3s;
}

.menu button:hover {
  background-color: #ddd;
  color: #191b1e;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent h3 {
  font-size: 22px;
}

.tabcontent p {
  font-size: 18px;
}
.title {
  padding: 20px;
}
.subtitle {
  padding: 20px;
}

/*-----------------------*/
/*---PORTFOLIO-----------*/
/*-----------------------*/
.portfolio {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
}

.portfolio::-webkit-scrollbar {
  height: 10px;
}

.portfolio::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.portfolio::-webkit-scrollbar-thumb {
  background: #888;
}

.portfolio::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card {
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  transition: transform 0.5s, box-shadow 0.5s;
  cursor: pointer;
  position: relative;
}

.img-project {
  height: 100%;
  width: 100%;
  transition: opacity 0.5s;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  transition: transform 0.5s;
  transform: translateY(100%);
  padding: 20px;
}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
}

.card:hover .img-project img {
  opacity: 0.7;
}

.card:hover .container {
  transform: translateY(0);
}

.language-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin-top: 10px;
}

.language-icon img {
  width: 24px;
  height: 24px;
}

.view-code-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  border: 2px solid #212529;
  background-color: transparent;
  color: #2c2c2c;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.9s, color 0.3s;
}

.view-code-btn:hover {
  background-color: #212529;
  color: white;
}
/*-----------------------*/
/*---SKILS--------------*/
/*-----------------------*/
.competencies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
  padding: 10px 100px;
  border: 1px solid #f1f1f1;
  margin: 20px;
  min-width: 120px;
  text-align: center;
  word-wrap: break-word;
  width: fit-content;
  min-width: 200px;
}

.skills-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/*-----------------------*/
/*---PORTFOLIO-----------*/
/*----STYLE--------------*/

/*-----------------------*/
/*---FOOTER-------------*/
/*-----------------------*/
footer {
  margin: 200px;
  display: flex;
  padding: var(--spacing-7xl) var(--spacing-none);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-none);
  background: var(--grey-main);
}

/*-----------------------*/
/*---BURGER-MENU---------*/
/*-----------------------*/
.burger-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  margin: 30px;
  width: 100%;
  height: 100%;
}

.burger-line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
}

/*-----------------------*/
/*--MEDIA-----------------*/
/*-----------------------*/

@media (max-width: 1130px) {
  .burger-menu {
    display: flex;
  }

  .navbar {
    display: none;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .navbar.active {
    display: flex;
  }

  .heading {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .photo-container,
  .image-container,
  .gretings {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 900px) {
  .menu {
    display: flex;
    flex-direction: column;
  }
  .info {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .photo-container {
    transform-origin: center top;
    transform: scale(0.7);
  }
}

@media screen and (max-width: 680px) {
  .info {
    flex-direction: column-reverse;
    margin: 20px;
  }
}

@media (max-width: 480px) {
  .navbar a {
    font-size: 18px;
  }

  .burger-line {
    width: 25px;
  }

  .menu {
    display: flex;
    flex-direction: column;
  }
  .image-container {
    gap: var(--space-none);
  }
  .logo-menu {
    justify-content: flex-end;
  }
  .image-mobile {
    display: block;
    margin: 10px 30px 10px 0px;
  }
  .photo-container {
    display: none;
  }
  .style6 {
    font-size: 18px;
  }
  .photo-container {
    transform-origin: center top;
    transform: scale(0.5);
  }
  .symbol {
    display: flex;
    justify-content: center;
  }
  .media {
    margin: 10px;
  }
  .style1 {
    font-size: 19px;
  }
  .style2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 410px) {
  .style2 {
    font-size: 16px;
  }
}
